body {
    font-family: Monospace;
    background-color: #ffa033;
    margin: 0px;
    overflow: hidden;

    /* background-image: url("https://media.giphy.com/media/5Ga20ocJ6ANLW/giphy.gif");
    background-repeat: no-repeat;
    background-position: right top; */
}